<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather2.png"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main_page">
        {{>header}}
        <img class='portrait' src="/img/austine.jpeg">
    </div>

    {{>footer}}
</body>
</html>