<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather2.png"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main_page">
        {{>header}}
        <p>{{note}}</p>
    </div>

    {{>footer}}
</body>
</html>