<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="icon" href="/img/weather2.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main_page">
       {{!-- this how you implement a handlebar partials{{> header}}  --}}
        {{>header}}
        <img src="/img/equality.jpeg">
        <p>Just adding extra note</p>
    </div>

    {{>footer}}
</body>
</html>